*{
    font-family: 'Josefin Sans', sans-serif;
}

.nav{
    margin-left: 350px;
    text-decoration: none
    ;
}

li:hover {

    background-color:plum;
    text-decoration: none;

}

.sun {
    width:150px;
    height:150px;
    border-radius: 50%;
    background:yellow;
    position: relative;
    line-height:0;
    padding:50px, 0;
    animation-name: sun;
}

.sky  {
    height: 275px;
    width:100%;
    background-color:skyblue;
    margin-top: -150px;
}

.grass {
    height: 200px;
    width:100%;
    background-color:green;
}

.street {
    height:200px;
    width:100%;
    background-color:gray;
}

.line {
    border: 7px dashed white;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: 200px;
}

img {
    
    position: absolute;
            width: 160px;
            bottom: -30px;
            animation-name: car;
            animation-duration: 5s;
            animation-iteration-count: 3;
            animation-delay: 2s;
            animation-direction:normal;
            animation-timing-function: linear;
            animation-fill-mode:forwards;
}

@keyframes car {

    /* from {left: -300px}
    to {left: 2000px} */

    /* 0% {transform:translateX(0);}

    25% {transform:translateX(220px);}

    50% {transform:translateX(-40px);}

    75% {transform:translateX(600px);}

    100% {transform:translateX(880px);} */

    from {left:-300px}
    to {left:2000px;}


}