*{
    font-family: 'Josefin Sans', sans-serif;
}

.nav{
    margin-left: 350px;
    text-decoration: none
    ;
}

.nav a{
    text-decoration:none;
}

li:hover {
    background-color:plum;
    width:auto;

}



.section2 ul li {
    color:olivedrab;
    font-size: 24px;
    list-style-type:none;
    transition-property: color, transform;
    transition-duration:4s;
}

.section2 .Spanish {
    background-color:olivedrab;
    font-size: 40px;
    color:navajowhite;
    width:12%;
}


.section2 ul li:hover {
    color:black;
    transform:translateX(40px);
    width: 25%;
}

.section3 .arabic {
    background-color:pink;
    font-size: 40px;
    color:darkslateblue;
    font-weight: 900;
    width: 40%;
}


.section3 ul {
    color:white;  
    font-size: 20px;
    list-style-type:none;
}

.section3 li{
animation-name: animation;
animation-duration: 4s;
        animation-iteration-count:infinite;
        animation-delay: 1s;
        animation-direction:normal;
        animation-timing-function: linear;
        animation-fill-mode:forwards;
}



@keyframes animation {
    0%   {color:white; left:0px;}
  25%  {color:lightpink); left:200px;}
  50%  {color:purple; left:200px;}
  75%  {color:lavender; left:0px;}
  100% {color:white; left:0px;}
}
