*{
    font-family: 'Josefin Sans', sans-serif;
}




ul li {

    list-style-type:none;
    opacity: 0.8;
    border: sandybrown solid 1px;
    text-decoration:none;
    background-color:rgb(146, 14, 69);
    color:white;
}

.home {
    height: 27px;
    margin-left: 50px;

}

.home a {
    text-decoration:none;
    color:white;
}

ul li a{
    height: 25px;
    line-height:25px;
    text-decoration:none;
    list-style-type: none;
    display:inline-block;
    text-align:center;
}


.dropdown li a {
    height: 25px;
    color:white;
   
}

 .dropdown li {
    float:none;
    border: rgb(146, 14, 69) solid 1px;
    text-decoration:none;
    background-color: sandybrown;
} 

li + .dropdown{
    visibility:hidden;
}

li:hover + .dropdown{
    visibility:visible;

   
}





.mainh1 {
    text-align:center;
    font-weight: bolder;
    background:rgb(146, 14, 69);
    color:sandybrown;
    
}

/
 .nav{
    margin-left: 350px;
    text-decoration: none;

} 





h3 {
    background-color:sandybrown;
    color:rgb(146, 14, 69);
}

h3:hover{
    color:sandybrown;
    background-color:rgb(146, 14, 69);
    transform:scale(1.5,1.5);
    margin-left: 30px;
}

.pbphoto:hover {
    transform:rotate3d(1, 1, 1, 350deg);
    border: rgb(146, 14, 69) dotted 5px;
    
}

.pbphoto {
    width: 350px;
    height:300px;
}
  
